<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vincenttrinh.rose</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/Cellar/python@3.12/3.12.13_4/Frameworks/Python.framework/Versions/3.12/bin/python3.12</string>
        <string>-u</string>
        <string>/Users/vintrinh/Desktop/vincent_personal_projects/Rose-AI-Assistance/Rose/main.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/vintrinh/Desktop/vincent_personal_projects/Rose-AI-Assistance/Rose</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/vintrinh/Desktop/vincent_personal_projects/Rose-AI-Assistance/Rose/venv/lib/python3.12/site-packages</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/vintrinh/Desktop/vincent_personal_projects/Rose-AI-Assistance/Rose/logs/rose.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/vintrinh/Desktop/vincent_personal_projects/Rose-AI-Assistance/Rose/logs/rose_error.log</string>
</dict>
</plist>